head
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Satisfy|Marvel')
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/bower_components/sweetalert/dist/sweetalert.css")
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/bower_components/angular/angular.min.js")
  script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
  script(src="/bower_components/sweetalert/dist/sweetalert.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/js/bundle.js")
  
body(ng-app="SSC")
  nav.navbar.navbar-default.navbar-top
    .container
      .navbar-header
        a.navbar-brand(ui-sref='home') Squirrel Seeks Chipmunk
      ul.nav.navbar-nav
        //- li
        //-   a(ui-sref='home') Home
      ul.nav.navbar-nav.navbar-right
        li#navRegister
          a(ui-sref='register') Register
        li#navLogin
          a(ui-sref='login') Login 
        li#navLogout
          form(method="post" action="users/logout")#logoutForm
            a(onclick="document.getElementById('logoutForm').submit();") Logout
  ui-view 
