img {
  max-height: 60vh;
  max-width: 100%; }

#navLogin, #navRegister {
  display: none; }

#navLogout {
  display: list-item; }

a:hover {
  cursor: pointer; }

.chat {
  border: 1px solid lightsteelblue;
  height: 40vh; }
  .chat ul {
    max-height: calc(40vh - 84px);
    overflow-y: scroll; }
  .chat form {
    bottom: 4px;
    left: 19px;
    position: absolute;
    margin-bottom: 0px;
    width: calc(100% - 38px); }
    .chat form .form-group {
      margin-bottom: 4px;
      margin-right: 0px;
      width: calc(100% - 38px); }
    .chat form button {
      width: calc(100%); }
