#home {
  background-image: url("http://www.hachettebookgroup.com/_b2c/media/cache/0e/d4/0ed47125fff693bb048965804ecef5c7.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh; }
  #home h1 {
    width: 100vw;
    text-align: center;
    color: lightsteelblue; }

body {
  font-family: 'Marvel', sans-serif; }
  body h1, body h2 {
    font-family: 'Satisfy', cursive; }

.navbar {
  z-index: 10;
  margin-bottom: 0px; }

#logoutForm > a {
  color: #777;
  padding: 15px;
  line-height: 20px;
  display: block;
  position: relative; }
  #logoutForm > a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer; }

#navLogout {
  display: none; }
