link(rel="stylesheet", href="/css/dashboard.css")

.container
  //- h1 User dashboard!
  h3 Under construction!

  .row
    #viewProfile.col-xs-6
      h2 View Profile
    .col-xs-6
      h2 Other Option
