link(rel="stylesheet", href="/css/editProfile.css")
.container
  h1 Editing Your Profile!
  br
  label Current Image:
  img(ng-src="{{user.imageUrl}}", alt="Image not found.")
  p Username: {{user.username}}
  p E-Mail: {{user.email}}
  br
  br
  form(ng-submit="updateProfile()")
    .form-group
      label Image URL:
      input(type="text", ng-model="user.imageUrl").form-control
    .form-group
      label Location (zip code):
      input(type="number", ng-model="user.location", min="501", max="99999").form-control
    .form-group
      label Gender: 
      select(ng-model="user.gender").form-control
        option Male
        option Female
        option Other
    .form-group
      label Seeking:  ( Hold shift / control [for windows] / command [for mac] to select multiple )
      select(multiple ng-model="user.seeking").form-control
        option Male
        option Female
        option Other
    .form-group
      label Date of Birth: 
      input(type="date", value="{{user.dob}}", ng-model="user.dob").form-control
    button.btn.btn-success Save Changes
    button(ui-sref="profile").btn.btn-danger Cancel
    
