.container
  h1 Your Profile!
  img(ng-src="{{user.imageUrl}}", alt="No Image Set.")
  p E-Mail: {{user.email}}
  p Username: {{user.username}}
  p Gender: {{user.gender}}
  p Seeking: {{user.seeking}}
  p Date of Birth: {{user.dob}}
    
  button(ui-sref="editProfile").btn.btn-info Edit Profile
