link(rel="stylesheet", href="/css/search.css")
.container
  a(ng-click="newMatch()")
    h1 Search for a new "friend"
  br
  .row
    .col-xs-4() Username: {{match.username}}
    .col-xs-4() Gender: {{match.gender}}
    .col-xs-4
      | They are seeking:
      ul
        li(ng-repeat="gender in match.seeking track by $index") {{gender}}

  br
  br
  .row
    .col-xs-6
      img(ng-src="{{match.imageUrl}}", alt="Match has no image.")
    .col-xs-6
      h3 Chat:
      .chat
        ul#chatWindow
          li(ng-repeat="message in chat.messages track by $index") {{message}}
        form(ng-submit="sendMsg(chatMsg)")
          .form-group
            input(ng-model="chatMsg", type="text").form-control
          .form-group
            button.btn.btn-success.btn-sm Send
