img {
  max-height: 60vh;
  max-width: 100%;
}

#navLogin, #navRegister {
  display: none;
}

#navLogout {
  display: list-item;;
}

.chat {
  border: 1px solid lightsteelblue;
  height: 40vh;
  ul {
    max-height: calc(40vh - 84px);
    overflow-y: scroll;
  }

  form {
    bottom: 4px;
    left: 19px;
    position: absolute;
    margin-bottom: 0px;
    width: calc(100% - 38px);
    .form-group{
      margin-bottom: 4px;
      width: calc(100% - 38px);
    }

    button {
      width: calc(100%);
    }
  }
}
